extends lib/layout

block title

block head
  link(rel='stylesheet' href='/css/app.css')

mixin link_btn(icon, label, link, tooltip)
  a.mr-2.btn.btn-outline-dark(
    role='button'
    href=link target='_blank'
    data-toggle='tooltip' title=tooltip
  )
    i.mr-2.fas(class=icon)
    span.font-weight-bold #{label}

mixin header_w_btn(header, btn_href, doc_href)
  h4.d-flex.card-title= header
    div.ml-auto

    if doc_href
      +link_btn('fa-book-open', 'Doc', doc_href)
    +link_btn('fa-cog', 'Edit', btn_href)

block content
  h2.d-flex.font-weight-bold
    a.text-black(href=appUrls.app) #{appConfig.name}
    div.ml-auto
    button.btn.btn-lg.btn-outline-dark(
      onclick='window.location.reload()'
      title='Reload' data-placement='right'
    )
      i.fas.fa-sync-alt.ml-auto

  div.card.mb-4
    div.card-body
      +header_w_btn('Permissions', appUrls.permissions,
        'https://docs.github.com/en/developers/apps/creating-a-github-app-using-url-parameters#github-app-permissions'
      )
      ul
        each scope, permission in appConfig.permissions
          li=permission + ': ' + scope

  div.card.mb-4
    div.card-body
      +header_w_btn('Subscribed Events', appUrls.permissions,
        'https://docs.github.com/en/developers/apps/creating-a-github-app-using-url-parameters#github-app-webhook-events'
      )
      ul
        each event in appConfig.events
          li=event

  div.card.mb-4
    div.card-body
      +header_w_btn('Installations', appUrls.install)
      ul
        each installation in installations
          li
            a(href=installation.account.html_url) #{installation.account.login}

  div.card.mb-4
    div.card-body
      +header_w_btn('Repositories', appUrls.installationSettings)
      ul
        each repository in repositories
          li
            a(href=repository.html_url) #{repository.full_name}
